Source: krane
Priority: extra
Maintainer: OCF Staff <root@ocf.berkeley.edu>
Standards-Version: 4.3.0
Section: ruby

Package: krane
Priority: extra
Architecture: all
Depends: ruby
Description: Shopify's krane script
